.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/dmitrii-vaccinium-22833-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(42, 44, 47, 1);
  opacity: .3;
}

.cover__link:hover::before {
  opacity: .8;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 500px) {
  .cover__link {
    min-height: 320px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}
