.cover__subtitle {
  max-width: 360px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  z-index: 1
}

@media (max-width: 501px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
