.footer__column-copyright {
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__column-copyright {
    line-height: 14px;
  }
}
