.cover__title {
  max-width: 560px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0 0 32px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 320px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 33px 0 16px;
  }
}
