.footer {
  max-width: 100%;
  padding: 92px 48px 24px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 64px 118px 24px 16px;
    flex-direction: column;
    gap: 48px;
  }
}
