.place__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  grid-row: 1;
  grid-column: 2;
  align-self: self-end;
}

@media (max-width: 690px) {
  .place__website {
    order: -1;
    align-self: center;
  }
}

@media (max-width: 320px) {
  .place__website {
    align-self: self-start;
    padding: 0 16px;
  }
}
